<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
    <div class="col-md-3">
      <section>
        <a>
        <%= gravatar_for(@user, size: 90) %>
        </a>
        <h3> <%= @user.name %> </h3>
        <a href="http://gravatar.com/emails">Change gravatar</a>
      </section>
    </div>
	<div class="col-md-6">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
    </div>
</div>