<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section>
            <a>
              <%= gravatar_for @user, size: 90 %>
            </a>
			<h3>
				<%= @user.name %>
			</h3>
		</section>
        <section>
          <%= render 'shared/stats' %>
          <%= render 'follow_form' if signed_in? %>
        </section>
	</aside>
	<div class="col-md-8">
       		<% if @user.microposts.any? %>
			<ol class="microposts">
                <h3>Microposts (<%= @user.microposts.count %>)</h3>
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>