<%= link_to gravatar_for(current_user, size: 90), current_user %>
<h3>
	<%= current_user.name %>
</h3>
<span>
	<%= link_to "view my profile", current_user %>
</span>
<span>
	<%= pluralize(current_user.microposts.count, "micropost") %>
</span>